spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/wallet
    username: csadmin
    password: csadmin123
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  application:
    name: wallet

server:
  port: 8085

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    display-request-duration: true
    disable-swagger-default-url: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
