spring:
  application:
    name: discovery-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

server:
  port: 8761

eureka:
  instance:
    hostname: ${EUREKA_HOSTNAME:localhost}
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  server:
    enable-self-preservation: false
    eviction-interval-timer-in-ms: 5000

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
  metrics:
    export:
      prometheus:
        enabled: true
  tracing:
    sampling:
      probability: 1.0

logging:
  level:
    root: INFO
    com.netflix.eureka: DEBUG
    com.netflix.discovery: DEBUG

---
spring:
  config:
    activate:
      on-profile: dev

eureka:
  server:
    enable-self-preservation: false

---
spring:
  config:
    activate:
      on-profile: staging

eureka:
  server:
    enable-self-preservation: true

---
spring:
  config:
    activate:
      on-profile: prod

eureka:
  server:
    enable-self-preservation: true
