spring:
  # rabbitmq:
  #   host: localhost
  #   password: guest
  #   port: 5672
  #   username: guest
  #   queue: customer.queue
  #   template:
  #     routing-key: customer.routingkey
  #     exchange: amq.direct

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  datasource:
    url: jdbc:postgresql://localhost:5432/driver
    username: csadmin
    password: csadmin123

  application:
    name: driver

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

server:
  port: 8087

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    display-request-duration: true
    disable-swagger-default-url: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
  health:
    rabbit:
      enabled: false
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
