/* You can add global styles to this file, and also import other style files */

/* Tailwind CSS utilities */
@import "tailwindcss";

/* Angular Material theme */
@import '@angular/material/prebuilt-themes/azure-blue.css';

/* Global styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

/* Material Design baseline */
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Utility classes */
.mat-elevation-z2 {
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,.2),
              0px 2px 2px 0px rgba(0,0,0,.14),
              0px 1px 5px 0px rgba(0,0,0,.12);
}

.mat-elevation-z4 {
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,.2),
              0px 4px 5px 0px rgba(0,0,0,.14),
              0px 1px 10px 0px rgba(0,0,0,.12);
}

.mat-elevation-z8 {
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,.2),
              0px 8px 10px 1px rgba(0,0,0,.14),
              0px 3px 14px 2px rgba(0,0,0,.12);
}

/* Responsive containers */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
}

/* Loading spinner overlay */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Accessibility */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

