spring:
  application:
    name: config-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  cloud:
    config:
      server:
        git:
          uri: ${CONFIG_GIT_URI:file://${user.home}/car-sharing-config}
          default-label: main
          clone-on-start: true
        # Native profile for local development (file-based)
        native:
          search-locations: ${CONFIG_SEARCH_LOCATIONS:classpath:/config}

server:
  port: 8888

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
  metrics:
    export:
      prometheus:
        enabled: true
  tracing:
    sampling:
      probability: 1.0

logging:
  level:
    root: INFO
    org.springframework.cloud.config: DEBUG

---
spring:
  config:
    activate:
      on-profile: dev
  cloud:
    config:
      server:
        native:
          search-locations: file:///${user.dir}/config-repo

---
spring:
  config:
    activate:
      on-profile: staging

---
spring:
  config:
    activate:
      on-profile: prod
